.popup__form-error {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
  position: absolute;
  top: 36px;
  left: 0;
  z-index: 1;
}

