.element__like {
  width: 21px;
  height: 19px;
  margin: 6px 7.24px 1.13px 0;
  background-color: inherit;
  border: 0;
  background: url(../../../images/like.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity 0.4s linear;
}

.element__like:hover {
  cursor: pointer;
  opacity: 0.6;
}
