@import url(./__wrapper/lightbox__container.css);
@import url(./__caption/lightbox__caption.css);
@import url(./__close/lightbox__close.css);
@import url(./__image/lightbox__image.css);

.lightbox {
  background-color: rgba(00, 00, 00, .9);
  position: fixed;
  height: 100vh;
  width: 100vw;
  max-width: 1280px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
