.profile__profession {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  max-width: 415px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 1199.98px) {
  .profile__profession {
    font-size: 14px;
    line-height: 17px;
    text-align: left;
    max-width: 200px;
  }
}

@media screen and (max-width: 767.98px) {
  .profile__profession {
    max-width: 220px;
  }
}
