.lightbox__close {
  position: absolute;
  top: -40px;
  right: -40px;
  height: 41px;
  width: 41px;
  background-image: url(../../../images/close-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  object-fit: fill;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  transition: opacity .5s;
}

.lightbox__close:hover {
  opacity: 0.8;
}

.lightbox__close:focus {
  outline: 0;
}

@media screen and (max-width: 576px) {
  .lightbox__close {
    background-size: 40px;
    top: -40px;
    right: -40px;
  }
}
