.header__logo {
  width: 143px;
  height: 33px;
  background-image: url(../../../images/header-logo.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 419px) {
  .header__logo {
    width: 104px;
    height: 25px;
  }
}
