.popup__form-item-group {
  margin-bottom: 30px;
  position: relative;
}

.popup__form-item-group:last-of-type {
  margin: 0;
}

@media screen and (max-width: 576px) {
  .popup__form-item-group {
    margin-bottom: 20px;
  }
  .popup__form-item-group:last-of-type {
    margin-bottom: 36px;
  }
}
