.profile__add-button {
  padding: 0;
  background-color: inherit;
  width: 150px;
  height: 50px;
  border-radius: 2px;
  border: 2px #fff solid;
  box-sizing: border-box;
  background-image: url(../../../images/add-plus.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 22px 22px;
  margin-left: auto;
  opacity: 1;
  transition: opacity .5s;
  cursor: pointer
}

.profile__add-button:hover {
  opacity: 0.6;
}

.profile__add-button:focus {
  outline: 0;
}

@media screen and (max-width: 1200px) {
  .profile__add-button {
    margin-left: 50px;
  }
}

@media screen and (max-width: 767px) {
  .profile__add-button {
    width: 282px;
    margin-left: 0;
  }
}
