.popup__submit {
  width: 358px;
  height: 50.15px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  background: #000000;
  border: none;
  border-radius: 2px;
  color: #FFF;
  margin: 0 36px 36px 36px;
  cursor: pointer;
}

.popup__submit:hover {
  background: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 510px) {
  .popup__submit {
    max-width: 248px;
    padding: 0;
  }
}
