.popup__close {
  position: absolute;
  top: calc(50% - 208px);
  left: calc(50% + 211px);
  height: 41px;
  width: 41px;
  background-image: url(../../../images/close-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  object-fit: fill;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  transition: opacity .5s;
}

.popup__close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 576px) {
  .popup__close {
    height: 30px;
    width: 30px;
    background-size: 41px;
    top: calc(50% - 175px);
    left: calc(50% + 116px);
  }
}
