.card__like {
  padding: 0;
  background-color: inherit;
  width: 21px;
  height: 21px;
  border: none;
  background-image: url(../../../images/like.svg);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 1;
  transition: opacity .5s;
  cursor: pointer
}

.card__like:hover {
  opacity: 0.6;
}

.card__like:focus {
  outline: 0;
}

