.card__delete {
  width: 18px;
  height: 20px;
  background-color: initial;
  padding: 0;
  border: 0;
  background-image: url(../../../images/delete-button.svg);
  position: absolute;
  top: 18px;
  right: 15px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: opacity .5s;
  opacity: 1;
  cursor: pointer
}

.card__delete:hover {
  opacity: 0.6;
}

.card__delete:focus {
  outline: 0;
}

