@import url(./__container/card__container.css);
@import url(./__delete/card__delete.css);
@import url(./__image/card__image.css);
@import url(./__like/card__like.css);
@import url(./__like/card__like_active.css);
@import url(./__name/card__name.css);

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 361px;
  width: 282px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}
